
<!-- list cart items -->

<div class="mwrap">
<ul>
  <li *ngFor="let product of selectedProducts">
    <p>{{product?.title}}</p>
    <span *ngFor="let item of cartItems">
      <span *ngIf="product?.id === item.productId" class="cartitemwrapper">
        <span class="typename"> {{item.typename}} </span>
        <span>  amount: </span>
        <select [(ngModel)]="item.amount" (change)="calculateTotalAmount()">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
        <span> to pay: {{product?.price * item.amount}} PLN,- </span>
        <button (click)="removeCartItem(item, product); calculateTotalAmount()">remove<i class="fa fa-times" aria-hidden="true"></i></button>
      </span>
    </span>
  </li>
</ul>


<div class="totalamount">total: {{totalAmount}} PLN,-</div>

<button class="buttonbook" type="button" (click)="navigateBack()">back</button>
<button [disabled]="cartItems.length === 0" type="button" (click)="makeOrder()">place order</button>
</div>
