
<!--<ul *ngFor="let category of categories">-->
  <!--<li>{{category.name}}</li>-->
  <!--<ul *ngFor="let book of books">-->
  <!--<li *ngIf="book.categoryId === category.id">-->
    <!--{{book.id}} || {{book.author}} || {{book.title}} || {{book.price}} ||-->
    <!--<button type="button" (click)="showBook(book.id)">details</button>-->
    <!--<button type="button" (click)="addToCart(book)">add to cart</button>-->
  <!--</li>-->
  <!--</ul>-->
<!--</ul>-->

<div *ngFor="let category of categories" class="categorywrapper">
  <p class="categorywrapper__item categoryname">{{category.name}}</p>
  <div class="categorywrapper__item productswrapper">
    <div *ngFor="let book of books" class="productswrapper__item">
      <div *ngIf="book.categoryId === category.id" class="product">
        <p>{{book.author}}</p>
        <p>{{book.title}}</p>
        <p>{{book.price}}</p>
        <select [(ngModel)]="data[book.id]">
          <option>paperback</option>
          <option>hardcover</option>
        </select>
        <button type="button" (click)="showBook(book.id)">details</button>
        <button type="button" (click)="addToCart(book, book.id)">add to cart</button>
      </div>
    </div>
  </div>
</div>


